@{
    ViewData["Title"] = "Информация";
}

<div>
    <h1 >Информация о проекте</h1>
    <p >Практика по дисциплине "Конструирование программного обеспечения", выполнил студент группы ПИ-20-3 Полыгалов Богдан</p>
</div>
